.wetherBg{
  background-color:aqua;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  font-size: 10vh;
  font-weight:700;
  margin-bottom: 25px;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}
.inputt{
  display:flex;
  width:50vw;
  height:12vh;
  
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}